
    body{
    background-image: url("96807.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
}


h1{
        color: #ff6308;
        font-family: "Press Start 2P", "consolas", sans-serif;
        text-decoration: rgb(109, 255, 19) dotted underline;
       
}
h2{
        color:#ff1313;
        font-family: "Press Start 2P", "consolas", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        text-decoration: rgb(247, 17, 220) dotted underline;

}
p{
        color: #00FF73;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
}
blockquote{
    color:#00FF73;
}
cite{
        color:rgb(232, 255, 20);
}
li{
        color:#fa0f0f;
}
